@-moz-document url-prefix(about:home), url-prefix(about:newtab), url-prefix(about:blank){
    :root{
        --newtab-background-color: #3f3f3f !important;
        --newtab-background-color-secondary: #302020 !important;
    }
}
@-moz-document url-prefix(about:preferences), url-prefix(about:addons), url-prefix(about:config){
    :root{
        --in-content-page-background: #3f3f3f !important;
    }
    body{
        background-color: #3f3f3f !important;
    }
}
